
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    border: 1px solid white;
    padding: 20px;
    border-radius: 3px;
    text-align: center;
    max-width: 400px;
    width: 50%;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .modal-content {
        padding: 15px;
        max-width: 60%;
    }

    .modal-content h2 {
        font-size: 15px;
    }

    .modal-content button {
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .modal-content {
        padding: 20px;
        max-width: 80%;
    }
}
